@use "../../styles/partials/variables" as *;
@use "../../styles/partials/breakpoints" as *;

.faq {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $paleBlue;
  color: $darkBlue;

  &__header-content {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    border-bottom: 3px solid $darkBlue;
    background-color: $powderBlue;

    .faq__header-container {
      display: flex;
      align-items: center;

      .faq__logo-container {
        position: relative;
        width: 50px;
        height: 50px;

        .faq__logo {
          width: 140px;
          height: 140px;
          position: absolute;
          top: -25px;
          left: -45px;
        }
      }

      .faq__header {
        font-size: 4rem;
        margin-left: 1.5rem;
      }
    }

    .faq__menu {
      padding-right: 1.5rem;
    }

    .faq__menu-icon {
      width: 40px;
      height: 40px;
    }
  }

  &__body-content {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-grow: 1;

    @include large-desktop {
      padding: 3rem;
    }

    .faq__item {
      border-bottom: 2px solid $darkBlue;
      padding-bottom: 1rem;

      .faq__question {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 2rem;
        cursor: pointer;

        .faq__icon {
          width: 30px;
          height: 30px;
        }
      }

      .faq__answer {
        padding-top: 1rem;
        font-size: 1.75rem;
        color: $darkBlue;
      }
    }
  }

  &__button-container {
    display: flex;
    justify-content: center;
    padding: 3rem 0;

    .faq__return-button {
      font-size: 2.5rem;
      padding: 1rem 3rem;
      border: 3px solid $darkBlue;
      background-color: $lightCream;
      color: $darkBlue;
      border-radius: 2.5rem;
      max-width: 300px;
      margin: 0 auto;
      transition: background-color 0.3s, color 0.3s;

      @include large-desktop {
        padding: 1.5rem 3rem;
      }

      &:hover {
        background-color: $darkBlue;
        color: $lightCream;
      }
    }
  }
}

.icon {
  filter: $icon-color-default;
}
