@use "../../styles/partials/variables" as *;

.button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: 0.5rem 0;
    border-radius: 1.5rem;

    &:hover {
        cursor: pointer;
    }

    &__text {
        display: flex;
    }

    &__link {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        text-decoration: none;
        color: $darkBlue;
    }

    &--add-item {
        border: 3px solid $darkBlue;
        color: $darkBlue;

        &:hover {
            color: $lightCream;
            background-color: $darkBlue;
        }
    }

    &--add-folder {
        border: 3px solid $darkBlue;
        color: $darkBlue;

        &:hover {
            color: $lightCream;
            background-color: $darkBlue;
        }
    }

    &--sort,
    &--grid {
        border: none;
        background: none;
    }

    &--help {
        padding: 0.75rem 4rem;
        border: 3px solid $darkBlue;
        color: $darkBlue;
        max-width: 200px;
        font-size: 2rem;

        &:hover {
            background-color: $darkBlue;
            color: $lightCream;

            .hover-invert {
                filter: $icon-color-hover;
            }
        }
    }

    &--menu {
        border: none;
        background: none;

        &:hover {
            background-color: $lightCream;
        }
    }

    &--trash {
        padding: 1rem 5rem;
        border: none;
        background: none;
        font-size: 2rem;
        line-height: 1.3;
        color: $darkBlue;

        &:hover {
            background-color: $lightCream;
        }
    }

    &--logout {
        font-size: 2.25rem;
        color: $darkBlue;
        line-height: 1.3;
        border-radius: 1.75rem;
        border: none;
    }

    &--login {
        color: $darkBlue;
        border: 1px solid $lightCream;

        &:hover {
            color: $lightCream;
            background-color: $darkBlue;
            border: 1px solid $darkBlue;

            .hover-invert {
                filter: $icon-color-hover;
            }
        }
    }

    &--signup {
        color: $darkBlue;
        border: 1px solid $lightCream;
        background-color: $lightCream;

        &:hover {
            color: $lightCream;
            background-color: $darkBlue;
            border: 1px solid $darkBlue;
        }
    }

    &--signin {
        color: $lightCream;
        border: 1px solid $darkBlue;
        background-color: $darkBlue;

        &:hover {
            color: $darkBlue;
            background-color: $lightCream;
            border: 1px solid $lightCream;
        }
    }

    &--addtag {
        padding: 0.75rem 2rem;
        border-radius: 2.5rem;
        font-size: 1.75rem;
    }

    &--faqs {
        padding: 1rem 2rem;
        border-radius: 2.5rem;
        font-size: 1.75rem;
    }

    &--return {
        padding: 1rem 2rem;
        border-radius: 2.5rem;
        font-size: 1.75rem;
    }
}