@use "./variables" as *;

@font-face {
    font-family: $base-font;
    src: url("../../assets/fonts/myfont-regular-webfont.woff2") format("woff2"),
         url("../../assets/fonts/myfont-regular-webfont.woff") format("woff");
    font-weight: 400;
}
