$max-phone: 768px;
$max-tablet: 1280px;

$m-pageheader-text: 1.5rem;
$m-secheader-text: 1.25rem;
$m-subheader-text: 1.125rem;
$m-body-text: 0.8125rem;
$m-label-button-text: 0.75rem;

$t-pageheader-text: 2.0625rem;
$t-secheader-text: 0.75rem;
$t-subheader-text: 0.875rem;
$t-body-text: 0.875rem;
$t-label-button-text: 0.75rem;

$d-pageheader-text: 2.5rem;
$d-secheader-text: 1.375rem;
$d-subheader-text: 1rem;
$d-body-text: 0.875rem;
$d-label-button-text: 0.875rem;

$demi-text: 600;
$bold-text: 700;

$darkBlue: #0000AB;
$risdBlue: #4949FF;
$slateBlue: #7474FF;
$tropicalIndigo: #9393FF;
$powderBlue: #A9A9FF;
$periwinkle: #B9B9FF;
$paleBlue: #DBDBFF;

$base-font: "Myfont";