$max-phone: 768px;
$max-tablet: 1280px;

$darkBlue: #0000AB;
$risdBlue: #4949FF;
$slateBlue: #7474FF;
$tropicalIndigo: #9393FF;
$powderBlue: #A9A9FF;
$periwinkle: #B9B9FF;
$paleBlue: #DBDBFF;
$lightCream: #FCFCFC;

$base-font: "Myfont";