$max-phone: 768px;
$max-tablet: 1280px;
$max-desktop: 1870px;

$darkBlue: #0000AB;
$risdBlue: #4949FF;
$slateBlue: #7474FF;
$tropicalIndigo: #9393FF;
$powderBlue: #A9A9FF;
$periwinkle: #B9B9FF;
$paleBlue: #DBDBFF;
$lightCream: #FCFCFC;

$base-font: "Myfont";

$icon-color-default: brightness(0) saturate(100%) invert(14%) sepia(73%) saturate(4587%) hue-rotate(241deg) brightness(74%) contrast(148%);
$icon-color-hover: brightness(0) saturate(100%) invert(99%) sepia(0%) saturate(1345%) hue-rotate(305deg) brightness(112%) contrast(98%);