@use "../../styles/partials/variables" as *;

.login {

  &__header {
    font-size: 4rem;
  }

  &__form-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 1.5rem;
    position: relative;
}

  &__forgot-container {
    display: flex;
    font-size: 1rem;
    justify-content: space-between;
    margin: 2rem 1rem;
  }

  &__forgot-link {
    text-decoration: none;
    color: $lightCream;

    &:hover {
      color: $darkBlue;
    }
  }

  &__button-container {
    width: 100%;
    margin-bottom: 1.5rem;
  }

  &__login-icon {
    filter: invert(47%) sepia(100%) saturate(7468%) hue-rotate(238deg) brightness(87%) contrast(111%);
  }

  &__create-account {
    text-align: center;
    font-size: 1rem;
  }

  &__create-account-link {
    text-decoration: none;
    color: $lightCream;

    &:hover {
      color: $darkBlue;
    }
  }
}
