@use "../../styles/partials/variables" as *;

.login {
    background: $darkBlue;
    background: linear-gradient(90deg, rgba(0,0,171,1) 25%, rgba(169,169,255,1) 85%);
    height: 100vh;

    &__header-container {}

    &__header {}

    &__form-container {}

    &__form {}

    &__form-label {}

    &__form-input {}

    &__forgot-container {}

    &__save-login {}

    &__save-login-checkbox {}

    &__forgot-link {}

    &__button-container {}

    &__button {}

    &__icon {}

    &__create-account {}

    &__create-account-link {}
}