@use "../../styles/partials/variables" as *;


.create-account {

    &__header {
        font-size: 3.25rem;
    }

    &__form-label {
        display: flex;
        flex-direction: column;
        margin-bottom: 1rem;
        position: relative;
    }

    &__button-container {
        width: 100%;
        margin-top: 2rem;
        display: flex;
        gap: 1rem;
    }

    &__mail-icon, &__lock-icon {
        filter: brightness(0) saturate(100%) invert(14%) sepia(73%) saturate(4587%) hue-rotate(241deg) brightness(74%) contrast(148%);
    }
}